{% extends 'index.html' %}

{% block title %}Not found.{% endblock title %}

{% block content %}
<main>
  <h1>404 Not Found</h1>
  <p>
    Something happens
  </p>
  <a href="/">← back to home page</a>
</main>
{% endblock content %}
