<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
</head>
<body>
    <div class="container">
        <aside class="profile-sidebar">
            <img src="{{get_url(path='image/image0.jpg') }}" alt="Profile Picture" class="profile-picture"  width="200" height="200">
            <div class="profile-introduction">
                <p>I am currently an ECE student and I love working on AWS, exploring cloud solutions to innovate and enhance technology-driven projects.</p>
            </div>
        </aside>

        <main>
            {% block content %}
                <h1 class="brand">
                    <a href="/">{{ config.title }}</a>
                </h1>
                <div class="subtitle">
                    Welcome to my personal website! Below are some of my projects:
                </div>

                <div class="projects">
                    {% set blog = get_section(path='projects/_index.md') %}
                    {% for projects in blog.pages %}
                    <div class="projects-single">
                        <a class="projects-single-title" href="{{ projects.permalink }}">
                            {{ projects.title }}
                        </a>

                        <time datetime="{{ projects.date | date(format="%+") }}" itemprop="datePublished">
                            {{ projects.date | date(format='%B %e, %Y') }}
                        </time>

                        <div>
                            {{ projects.summary | safe }}
                        </div>
                    </div>
                    <div style="height: 50px;"></div>
                    {% endfor %}
                </div>
            {% endblock content %}
        </main>
    </div>

    <footer>
        <a href="/rss.xml">RSS</a>
        / <a href="/about">About</a>
        / No rights reserved
    </footer>
</body>
</html>

