{% extends 'index.html' %}

{% block title %}{{ page.title }} — {{ config.title }}{% endblock title %}

{% block content %}
<main>
    <div class="brand">
        <a href="/">{{ config.title }}</a>
    </div>

    {{ page.content | safe }}

    <br>
    <p>
        <a href="/">← all projects</a>
    </p>
</main>
{% endblock content %}
